__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
.venv/
venv/
build/
develop-eggs/
dist/
downloads/
.eggs/
lib/
lib64/
parts/
.svn/
*.swp
*.swo
.DS_Store
.git
output/
uploads/
input_store/
templates_store/
.env

# Local editor files
.vscode/
.idea/
